<h1>Posts list</h1>

<label>User Id:</label>
<div class="input-container">
  {{input type="number" min="1" max="100" value=userId}}
</div>
<label class="error-label" hidden={{isHidden_userId}}>Fill up the User ID of post</label>
<label class="error-label" hidden={{isHidden_userId_correct}}>Put the correct ID (from 1 to 100)!</label>
<br><br>

<label>Title:</label>
<div class="input-container">
  {{input value=title}}
</div>
<label class="error-label" hidden={{isHidden_title}}>Fill up the Title of post</label>
<br><br>

<label>Body:</label>
<div class="input-container">
  {{input value=body}}
</div>
<label class="error-label" hidden={{isHidden_body}}>Fill up the Body of post</label>
<div id="btn">
  <button id="addPost-btn" {{action "addPost" userId title body}} disabled={{isDisabled}}>Add</button>
</div>

{{#each reverse as |postUnit|}}
  {{post-listing post=postUnit}}
{{/each}}