<h1>Posts list</h1>
<label>User Id:</label>
<div class="input-container">
  {{input type="number" min="1" max="100" value=userId}}
</div>
<label>Title:</label>
<div class="input-container">
  {{input value=title}}
</div>
<label>Body:</label>
<div class="input-container">
  {{input value=body}}
  <div id="btn">
    <input type="button" id ="addPost-btn" value="Add" {{action 'addPost' userId title body}}/>
  </div>
</div>

{{#each reverse as |postUnit|}}
 {{post-listing post=postUnit}}
{{/each}}